// $--font-path 必须修改，不然会报错
$--font-path: 'https://oss-statics.icomecloud.com/statics/@enn/element-ui/2.15.7/fonts';
$--color-white: #FFFFFF;
// 主题色 
$--color-primary: #0780ED;
$--color-primary-hover: #1790FF;
$--color-primary-active: #0086EB;
$--color-text-placeholder: #ADB5BD;
$--G1TableColumnHeaderBg: #f2f3f5;
$--P3LineItemSelected: #eff3ff;
$--color-success: #6DD400;
$--color-success-light: #CCECC1;
$--color-warning: #FF9200;
$--color-warning-light: #FCE1BB;
$--color-danger: #EE2222;
$--color-danger-light: #FFCFD2;
$--color-info: #0780ED;
$--select-option-selected-font-weight: normal;
$--transfer-button-padding: 10px!important;
$--upload-upload-dragger-bg-color: #F0F8FE;
$--tree-node-content-height: 40px;
$--step-horizontal-line-margin: 0 12px 0 36px!important;
$--step-horizontal-center-line-margin: 0;
$--step-vertical-line-margin: 0;
$--border-radius-base: 4px;
$--color-success-hover: #308f40;
$--color-success-active: #297a37;
$--color-warning-hover: #efa900;
$--color-warning-active: #efa900;
$--color-danger-hover: #cc4646;
$--color-danger-active: #b83737;
$--color-info-hover:	#3455ad;
$--color-info-active:	#264480;
$--color-text-primary: #323233;
$--color-text-regular: #646566;
$--color-text-secondary: #969799;
$--border-color-base: #c8c9cc;
$--border-color-light: #ebecf0;
$--border-color-lighter: #ebecf0;
$--border-color-extra-light: #f6f7fb;
$--background-color-base: #fff;
$--button-disabled-border-color: #F8F9FA; 
$--border-width-base:	1px;
$--border-style-base:	solid;
$--border-color-hover: $--color-text-placeholder;
$--border-base: $--border-width-base $--border-style-base $--border-color-base;
$--border-radius-large:	6px;
$--border-radius-base:	4px;
$--border-radius-small:	2px;
$--box-shadow-base:	0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
$--box-shadow-light:	0 2px 12px 0 rgba(0, 0, 0, 0.1);
$--NeutralBg:	#f8f9fa;
$--font-size-extra-large:	24px;
$--font-size-large:	20px;
$--font-size-medium:	18px;
$--font-size-base:	16px;
$--font-size-small:	14px;
$--font-size-extra-small:	12px;
$--font-weight-primary:	500;
$--font-weight-secondary:	100;
$--font-line-height-primary:	24px;
$--font-line-height-secondary: 16px;
$--font-color-disabled-base:	#bbb;
$--index-normal:	1;
$--index-top:	1000;
$--index-popper: 2000;
$--disabled-fill-base: $--border-color-extra-light;
$--index-top: 1000;
$--index-popper: 2000;
$--table-stripe-even-row-bg-color: #F8F9FA;
$--table-row-hover-background-color: $--border-color-extra-light;
$--table-current-row-background-color: $--P3LineItemSelected;
$--button-plain-hover-bg-color: $--color-white;
$--button-plain-hover-border-color: $--color-white;
$--button-plain-hover-font-color: $--color-primary;
$--button-plain-active-bg-color: $--color-white;
$--button-plain-disbale-bg-color: $--color-white;
$--button-plain-disbale-border-color: $--button-disabled-border-color;
$--upload-upload-dragger-upload-text-em: $--color-primary;

@import 'element-ui/index.scss';